*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* colors */
    --gray-100: 0, 0%, 22%;
    --gray-200: 0, 0%, 58%;
    --turquoise-100: 170, 78%, 44%;
    --red-100: 0, 100%, 51%;
    --white: 0, 0%, 100%;
    /* border radius */
    --radius-100: 0.3125rem;
    --radius-200: 0.625rem;
    /* font size */
    --font-size-100: 1.25rem;
    --font-size-200: 1.5rem;
    --font-size-300: 2.25rem;
    --font-size-400: 2.5rem;
    --font-size-500: 3.25rem;
    --font-size-600: 4.25rem;
    
    /* screen size for media query */
    --screen-mobile: 576px;
    --screen-tablet: 768px;
    --screen-desktop: 992px;
}