/* mobile:  576px */
/* tablet: 768px */
/* desktop:  992px */

/* 
@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
 */


body{
    background-color: black;
    padding: 6.25rem;
}
room-card{
  color: var(--gray-100);
    /* font-size: large; */
    /* position: relative; */
    /* display: block; */
    /* box-sizing: border-box; */
    /* width: 100%; */
    font-family: sans-serif;
}

room-card * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

room-card .cntnr {
    /* position: relative; */
    width: 100%; /* he setted px width */
    height: auto;
    /* for dev */ background-color: white; 

    /* for children */
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: stretch; /* Ensure children stretch to the same height */
}

room-card .imgCntnr {
    /* flex-grow: 1; */
    width: 100%; /*555px 35rem*/
    border-radius: 0.3125rem;
    overflow: hidden;
    background-color: red;

    /* for chidren */
    display: flex;
    justify-content: center;
    align-items: center;
}

room-card .bodyCntnr {
    /* flex-grow: 2; */
    width: 100%;
    /* min-width: 70rem; */
    
    box-sizing: border-box;
    padding: min(2.5rem, 8%); /*40px*/
    /* background-color: yellow; */
    font-size: 1.5rem;

    /* for children */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}

room-card .imgCntnr img {
    /* width: 35rem; */
    /* width: 100%; */
    /* height: auto; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: red;
}

room-card .bodyCntnr .textBody{
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}

room-card .bodyCntnr .textBody h1 {
    margin-bottom: 1.375rem;
}

/* desktop */
@media (min-width: 992px) {
    room-card .cntnr {
        flex-direction: row;
        width: 100%;
    }
    room-card .imgCntnr {
        width: 50%;
        height: auto;
    }
    room-card .bodyCntnr {
        width: 50%;
        /* flex-grow: 0; */
    }

    room-card .imgCntnr img {
        width: 100%;
    }

}

room-card button {
    /* margin-bottom: 1.5rem; */
    width: 8.75rem;
    height: 3.25rem;
    background-color: var(--gray-100);
    /* for dev */ background-color: grey;
    color: white;
    border-radius: 0.25rem;
    border-width: 1px;

}