:root {
    font-size: 12px;
}

room-card {
    color: var(--gray-100);
    font-family: sans-serif;
}

room-card * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

room-card .cntnr {
    height: auto;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: stretch;
}

room-card .imgCntnr {
    width: 50%;
    aspect-ratio: 1/0.67;
    border-radius: var(--radius-100);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: var(--radius-100);
    -moz-border-radius: var(--radius-100);
    -ms-border-radius: var(--radius-100);
    -o-border-radius: var(--radius-100);
}

room-card .imgCntnr img {
    width: 100%;
    border-radius: var(--radius-100);
    -webkit-border-radius: var(--radius-100);
    -moz-border-radius: var(--radius-100);
    -ms-border-radius: var(--radius-100);
    -o-border-radius: var(--radius-100);
}

room-card .bodyCntnr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    gap: 2rem;
}

room-card .bodyCntnr .textBody {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
}

room-card .bodyCntnr .textBody * {
    color: hsl(var(--gray-100));
}

room-card .bodyCntnr .textBody h1 {
    font-size: var(--font-size-400);
}

room-card .bodyCntnr .textBody p {
    line-height: 1.67;
    font-size: var(--font-size-200);
}

room-card button {
    background-color: hsl(var(--gray-100));
    color: hsl(var(--white));
    border-radius: var(--radius-100);
    -webkit-border-radius: var(--radius-100);
    -moz-border-radius: var(--radius-100);
    -ms-border-radius: var(--radius-100);
    -o-border-radius: var(--radius-100);
    border: none;
    padding: 0.625rem 2.8125rem;
    font-size: var(--font-size-100);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out -o-transition: all 0.3s ease-in-out;
}

room-card button:hover {
    background-color: hsl(var(--turquoise-100));
}


@media screen and (min-width: 769px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    :root {
        font-size: 16px;
    }

    room-card .cntnr {
        flex-direction: row;
        height: 24rem;
        gap: 3rem
    }

    room-card .cntnr-reverse {
        flex-direction: row-reverse;
        height: 24rem;
        gap: 3rem
    }

    room-card .imgCntnr {
        width: 45%;
        height: auto;
        max-height: auto;
    }

    room-card .bodyCntnr {
        width: 55%;
    }

    room-card .imgCntnr img {
        width: 100%;
    }

}