:root {
  font-size: 12px;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

body .background-icon {
  display: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.625rem;
}

.main-container .main-title {
  width: 100%;
  padding: 3.4375rem 0 0 4.0625rem;
  line-height: 0.83;
}

.main-container .main-title p {
  color: hsl(var(--gray-100));
  font-size: var(--font-size-300);
}

.main-container .container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.875rem;
  padding: 3.75rem 5rem;
  border-radius: var(--radius-200);
  -webkit-border-radius: var(--radius-200);
  -moz-border-radius: var(--radius-200);
  -ms-border-radius: var(--radius-200);
  -o-border-radius: var(--radius-200);
  box-shadow: 0.25rem 0.25rem 1.25rem hsl(var(--gray-200), 25%);
  background-color: hsl(var(--white));
}

.main-container .container .form-title {
  color: hsl(var(--gray-100));
  font-size: var(--font-size-300);
}

.main-container .container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5625rem;
}

.main-container .container form .error-message {
  color: hsl(var(--red-100));
  font-size: var(--font-size-100);
}

.main-container .container form .submit-btn {
  width: fit-content;
  padding: 0.625rem 2.5rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--font-size-100);
  color: hsl(var(--white));
  background-color: hsl(var(--gray-100));
  border-radius: var(--radius-100);
  -webkit-border-radius: var(--radius-100);
  -moz-border-radius: var(--radius-100);
  -ms-border-radius: var(--radius-100);
  -o-border-radius: var(--radius-100);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.main-container .container form .submit-btn:hover {
  background-color: hsl(var(--turquoise-100));
}

.main-container .container form .redirect-message {
  color: hsl(var(--gray-100));
  font-size: var(--font-size-100);
}

.main-container .container form .redirect-message a {
  color: hsl(var(--gray-100));
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.main-container .container form .redirect-message a:hover {
  color: hsl(var(--turquoise-100));
}

@media screen and (min-width: 577px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-width: 993px) {
  body .background-icon {
    display: block;
    position: absolute;
    stroke: hsl(var(--gray-200), 25%);
    fill: hsl(var(--gray-200), 25%);
    z-index: -1;
  }

  body .background-icon * {
    fill: hsl(var(--gray-200), 25%);
  }

  body .background-icon-1 {
    stroke: transparent;
    width: 32rem;
    aspect-ratio: 1/1;
    bottom: -8%;
    left: 18%;
  }

  body .background-icon-2 {
    width: 40rem;
    aspect-ratio: 1.42/1;
    top: -10%;
    right: 15%;
  }
}