.select-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--font-size-100);
  color: hsl(var(--gray-100));
}

.custom-select {
  font-size: var(--font-size-100);
  color: hsl(var(--gray-100));
  padding-bottom: 0.25rem;
  padding-right: 2rem;
  appearance: none;
  background-image: url(./../../assets/images/icons/down-arrow.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 0.3125rem) calc(100% - 0.25rem);
  background-size: 1.5625rem;
  outline: none;
  border: none;
  border-bottom: solid 0.0625rem hsl(var(--gray-100));
  cursor: pointer;
}

.select-menu-container label {
  padding-bottom: 0.25rem;
}